<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ include.title }}</title>
    <style>
		html { width: 100%; height: 100%; position: fixed; touch-action: none; }
		body { width: 100%; height: 100%; overflow: hidden; margin: 0; padding: 0; background-color: #F6F8F6; }
		canvas { width: 100%; height: 100%; position: relative; top:0; z-index: 100; }
		div { 	display: flex; justify-content: center; align-items: center; z-index: 10; }
		
		@media screen and (min-width: 64em) {
			p { font-size: 1.0rem; }
		}
		@media screen and (min-width: 42em) and (max-width: 64em) {
			p { font-size: 1.0rem; }
		}
		@media screen and (max-width: 42em) {
			p { font-size: 0.8rem; }
		}

    </style>
  </head>
  <body>
    <div id="warning"><a>Sorry, this applet cannot be run in your browser :(</a></div>
    
    <script>{% include three.min.js %}</script>
    <script src="{{ include.data-file }}"></script>
    <div><p id="message">{{ include.heading }}</p></div>

    



<script>

//     <div><img src="/images/icons/plus-circle.svg" class="expand-icon icon-animation" onclick="zoom(20)">&nbsp;    	<img src="/images/icons/minus-circle.svg" class="expand-icon icon-animation" onclick="zoom(-20)">    </div>



	// create scene
	var scene = new THREE.Scene();
	// create camera:  45-deg FoV
	var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
	// create renderer
	var renderer = new THREE.WebGLRenderer( { antialias: true } );
	// take viewport size
	renderer.setSize(window.innerWidth, window.innerHeiradiusght);

	// background color off-white
	renderer.setClearColor(0xF6F8F6, 1.0);

	// add renderer to DOM
	document.body.appendChild(renderer.domElement);

	var scatterPlot = new THREE.Object3D();
	scene.add(scatterPlot);

	// create vector from coordinates
	function v(x,y,z){ return new THREE.Vector3(x,y,z); }

	// add points
	var points_geom = new THREE.Geometry();
	POINTS_DATA.forEach(function (d, i) { 
	// load points (x,y,z, RGB-hex)
		var x = d[0]*{{ include.scaler }};
		var y = d[2]*{{ include.scaler }};
		var z = d[1]*{{ include.scaler }};
		var c = d[3];
		points_geom.vertices.push(v(x,y,z));			// add xyz
		points_geom.colors.push(new THREE.Color(c)); 	// add colour 
	});
	var points_mat = new THREE.PointsMaterial({vertexColors: THREE.VertexColors, size: 3});
	var points = new THREE.Points(points_geom, points_mat);
	scatterPlot.add(points);  

	// add box wireframe
	var box_geom = new THREE.EdgesGeometry( new THREE.BoxGeometry({{ include.scaler }}, {{ include.scaler }}, {{ include.scaler }}) ); // or WireframeGeometry( geometry )
	var box_mat = new THREE.LineBasicMaterial( { color: 0xd0d0d0, linewidth: 1 } );
	var wireframe = new THREE.LineSegments( box_geom, box_mat );
	scatterPlot.add( wireframe );


	// Camera angle control borrowed from https://mrdoob.com/projects/voxels/

	var mouse3D, isMouseDown = false, isTwoFingers = false, onMouseDownPositionX, onMouseDownPositionY,
		radius = 200, theta = 0, onMouseDownTheta = 45, phi = 60, onMouseDownPhi = 60

	function init() {
		// update aspect ratio and size in case window has been resized
		camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.1, 1000 );
		renderer.setSize(window.innerWidth, window.innerHeight);

		//phi = Math.min( 180, Math.max( 0, phi ) );
		phi = Math.min( 180, Math.max( -180, phi ) );

		camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
		camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		// point the camera
		camera.lookAt(scene.position);
		// render
		renderer.render(scene, camera);
	};

	init(); // render first scene

	document.addEventListener('orientationchange', init);

	renderer.domElement.addEventListener( 'mousedown', onMouseDown, false );
	renderer.domElement.addEventListener( 'mousemove', onMouseMove, false );
	renderer.domElement.addEventListener( 'mouseup', onMouseUp, false );
	renderer.domElement.addEventListener( 'mousewheel', onMouseWheel, false );

	renderer.domElement.addEventListener( 'touchstart', onTouchStart, false );
	renderer.domElement.addEventListener( 'touchmove', onTouchMove, {passive: false});
	renderer.domElement.addEventListener( 'touchend', onTouchEnd, false );


	function onMouseDown( event ) {
		event.preventDefault();

		isMouseDown = true;

		onMouseDownTheta = theta;
		onMouseDownPhi = phi;
		onMouseDownPositionX = event.clientX;
		onMouseDownPositionY = event.clientY;
	}

	function onMouseUp( event ) {
		event.preventDefault();

		isMouseDown = false;

		onMouseDownPositionX = event.clientX - onMouseDownPositionX;
		onMouseDownPositionY = event.clientY - onMouseDownPositionY;
	}

	function onMouseMove( event ) {
		event.preventDefault();
	
		if ( isMouseDown ) {
			theta = - ( ( event.clientX - onMouseDownPositionX ) * 0.5 ) + onMouseDownTheta;
			phi = ( ( event.clientY - onMouseDownPositionY ) * 0.5 ) + onMouseDownPhi;

			//phi = Math.min( 180, Math.max( 0, phi ) );
			phi = Math.min( 180, Math.max( -180, phi ) );

			camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
			camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
			camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
			// point the camera
			camera.lookAt(scene.position);
			// render
			renderer.render(scene, camera);
		}
	}

	function onMouseWheel( event ) {
		radius -= event.wheelDeltaY/7;
		if (radius<{{ include.min-radius }}) {radius = {{ include.min-radius }};}
		if (radius>{{ include.max-radius }}) {radius = {{ include.max-radius }};}

		camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
		camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		// point the camera
		camera.lookAt(scene.position);
		// render
		renderer.render(scene, camera);
	}


	function onTouchStart( event ) {
		event.preventDefault();

		if (event.touches.length == 1) { 
			isMouseDown = true; 
			isTwoFingers = false; }
	
		if (event.touches.length == 2) { 
			isMouseDown = false; 
			isTwoFingers = true; } 
	
	
		onMouseDownTheta = theta;
		onMouseDownPhi = phi;
		onMouseDownPositionX = event.touches[0].clientX;
		onMouseDownPositionY = event.touches[0].clientY;
	}

	function onTouchEnd( event ) {
		event.preventDefault();

		isMouseDown = false;

		onMouseDownPositionX = event.changedTouches[0].clientX - onMouseDownPositionX;
		onMouseDownPositionY = event.changedTouches[0].clientY - onMouseDownPositionY;
	}

	function onTouchMove( event ) {
		event.preventDefault();
	
		if ( isMouseDown ) {
			theta = - ( ( event.touches[0].clientX - onMouseDownPositionX ) * 0.5 ) + onMouseDownTheta;
			phi =     ( ( event.touches[0].clientY - onMouseDownPositionY ) * 0.5 ) + onMouseDownPhi;

			//phi = Math.min( 180, Math.max( 0, phi ) );
			phi = Math.min( 180, Math.max( -180, phi ) );

			camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
			camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
			camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		
			// point the camera
			camera.lookAt(scene.position);
			// render
			renderer.render(scene, camera);
		}	
		if ( isTwoFingers ) {
			radius += (event.touches[0].clientY - onMouseDownPositionY)/10;
			if (radius<{{ include.min-radius }}) {radius = {{ include.min-radius }};}
			if (radius>{{ include.max-radius }}) {radius = {{ include.max-radius }};}

			camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
			camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
			camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		
			// point the camera
			camera.lookAt(scene.position);
			// render
			renderer.render(scene, camera);
		}	
		
	}

/*
	function zoom(delta) {
		radius -= delta;
		if (radius<120) {radius = 120;}
		if (radius>300) {radius = 300;}

		camera.position.x = radius * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		camera.position.y = radius * Math.sin( phi * Math.PI / 360 );
		camera.position.z = radius * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
		// point the camera
		camera.lookAt(scene.position);
		// render
		renderer.render(scene, camera);
	}

*/
	// remove browser incompatibility warning
	document.getElementById('warning').remove();
</script>
  </body>
</html>