<div class="image-container">
	<div class="image-left-wrapper">
  		<img src="{{ include.left-img }}" alt="Avatar" class="image-wrapped">
  		<div class="expand-icon-wrapper unselectable">
			<img src="/images/icons/maximize-2.svg" class="expand-icon icon-animation" onclick="expand_img(this)">		
		</div>
    </div>

	<div class="image-right-wrapper">
  		<img src="{{ include.right-img }}" alt="Avatar" class="image-wrapped">
  		<div class="expand-icon-wrapper unselectable">
			<img src="/images/icons/maximize-2.svg" class="expand-icon icon-animation" onclick="expand_img(this)">
		</div>
    </div>
</div> 