// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #1d5a40 !default;
$header-bg-color-secondary: #095a80 !default;
$nav-link-color: #ccc !default;
$nav-link-color-hover: #f8f8f8 !default;

// Text
$section-headings-color: #006590 !default;
$body-text-color: #020202 !default;
$body-link-color: #00659b !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
